@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    height: 100vh;
  
    display: grid;
    grid-template-areas:
      'header header'
      'nav content'
      'footer footer';
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 80px 1fr 70px;
}


header,
footer,
main,
nav {
  background-color: #44a1a0;
  color: #fffffa;
  padding: 20px;
  border: 2px solid #0d5c63;
}

header {
    grid-area: header;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

nav {
    grid-area: nav;
}

main {
    grid-area: content;
}

aside {
    grid-area: sidebar;
}

footer {
    grid-area: footer;
}